
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.top-section .image-container {
  background-size: cover;
  height: 1177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: bottom;
}


.top-section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin-left: 30%;
  margin-top: 12%;
}

.top-section .heading1 {
  width: 779px;
  height: 204px;

  margin-bottom: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 75px;
  line-height: 102px;
  text-align: center;

  color: #FFFFFF;

}

.top-section .paragraph1 {
  width: 568px;
  height: 44px;

  margin-top: 7%;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;


}



.top-section section a {
  background-color: #00A651;
  margin-top: 39px;
  width: 214px;
  height: 60px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-section section a:hover {
  background-color: white;
}

.top-section section a:hover p {
  color: #00A651;
}

.top-section section a p {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #FFFFFF;

}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.services #heading {


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;

}

.services .service_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;

}

.services .service_cards .card1 {
  display: flex;
  flex-direction: column;
  width: 416px;
  height: 232px;
  background: #F9F9F9;
  border-radius: 15px;
}

.services .service_cards .card2 {

  width: 416px;
  height: 232px;

  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

}

.services .service_cards img {
  margin-top: 44px;
  margin-left: 38px;
  margin-right: 332px;
}

.services .service_cards .text1 {

  margin-left: 35px;
  margin-right: 204px;
  margin-bottom: 0;

  width: 177px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;

  color: #000000;


}

.services .service_cards .text2 {

  width: 328px;
  height: 44px;

  margin-left: 38px;
  margin-right: 50px;
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #000000;


}


.stats {
  width: 100%;
  height: 733px;
  margin-top: 20px;
  background: rgba(0, 88, 83, 0.05);
  background-image: url('../Assets/world_map.svg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats .heading {

  width: 518px;
  height: 108px;

  margin-top: 81px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;

}

.stats .text {

  width: 495px;
  height: 44px;

  margin-top: 19px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #000000;


}

.stats .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 118px;
  margin-bottom: 113px;
  width: 80%;
}

.stats .cards .card {

  width: 250px;
  height: 250px;

  background: #FFFFFF;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.stats .cards .card img {
  margin-top: 43px;
}

.stats .cards .card .figure {

  margin-top: 29px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  color: #000000;


}

.stats .cards .card .description {

  margin-top: -30px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;



}

.destinations .heading {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;

  margin-bottom: 71px;



}

.destinations section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  margin-bottom: 30px;

}

.destinations section .map {
  width: 50%;
  background-image: url('../Assets/world_map_PNG28 2.svg');
  background-size: cover;
  background-position: center;
  height: 772px;
}

.destinations section #elipse1 {
  position: relative;
  margin-top: 30%;
  margin-left: 50%;
}

.destinations section #elipse2 {
  position: relative;
  margin-top: 35%;
  margin-left: 70%;
}

.destinations section #elipse3 {
  position: relative;
  margin-left: 80%;
}

.destinations section .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 187px;
}

.destinations section .cards .card {
  width: 659px;
  height: 223px;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  /* Add a transition for smooth effect */
}

/* Deepen shadow on hover */
.destinations section .cards .card:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  /* Spread radius increased */
}

.destinations section .cards .card #image1 {
  background-image: url('../Assets/Rectangle\ 15.jpg');
  width: 223px;
  height: 100%;
}

.destinations section .cards .card #image2 {
  background-image: url('../Assets/Rectangle\ 16.jpg');
  width: 223px;
  height: 100%;
}


.destinations section .cards .card #image3 {
  background-image: url('../Assets/Rectangle\ 17.jpg');
  width: 223px;
  height: 100%;
}


.destinations section .cards .card .country {

  width: 84px;
  height: 27px;
  margin-left: 49px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;


}


.destinations section .cards .card .decr {

  width: 93px;
  height: 54px;

  margin-left: 49px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #000000;


}

.destinations section .cards .card img {

  width: 33px;
  height: 33px;
  margin-left: 96px;

}


.best_packages {
  width: 100%;
  height: 1119px;
  background: #ECF1F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.best_packages p {

  width: 445px;
  height: 54px;
  margin-top: 59px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;


}

.best_packages .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 52px;
}

.best_packages .options button {

  width: 180px;
  height: 60px;

  background: #666666;
  border-radius: 10px;
  text-decoration: none;
  border: none;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;

  cursor: pointer;


}

.best_packages .packages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 124px;
}

.best_packages .options button:hover {
  background: #00A651;
}


.best_packages .options .clickedButton {
  background: #00A651;
}

.best_packages .packages .package {
  width: 434px;
  height: 500px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.best_packages .packages .package img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

.best_packages .packages .package .description {
  width: 434px;
  margin-top: 338px;
  height: 176px;
  position: absolute;

  background: #FFFFFF;
  border-radius: 0px 0px 15px 15px;

}

.best_packages .packages .package .description .text1 {

  position: absolute;

  margin-left: -130px;
  margin-top: 10px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;


}

.best_packages .packages .package .description .text2 {

  margin-top: 10px;
  margin-left: 130px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;


}

.best_packages .packages .package .description .text3 {

  /* Explore the Beauty of the island for 3 days and 2 nights with our travel agency */

  margin-top: -30px;
  margin-left: 15px;

  position: absolute;
  width: 326px;
  height: 44px;

  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.81);


}

.best_packages .packages .package .description img {
  width: 20px;
  height: 20px;
  margin-top: 35px;
  margin-left: 15px;
  position: absolute;
}

.best_packages .packages .package .description .text4 {

  position: absolute;
  width: 95px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  margin-top: 30px;
  margin-left: 45px;

  color: #000000;


}


.best_packages .packages .package .description a {
  /* Know More */

  position: absolute;
  width: 88px;
  height: 22px;
  margin-left: 320px;
  margin-top: 32px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-decoration-line: underline;

  color: #000000;


}

.best_packages .packages .package:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.best_packages .discover {


  width: 300px;
  height: 70px;

  margin-top: 100px;

  background: #00A651;
  border-radius: 10px;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.best_packages .discover p {


  width: 231px;
  height: 30px;

  margin-top: 20px;
  margin-left: 10px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #FFFFFF;

}


.best_packages .discover:hover {
  background-color: white;
}

.best_packages .discover:hover p {
  color: #00A651;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps .heading {

  width: 703px;
  height: 54px;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;
  margin-bottom: 0;


}

.steps .note {

  width: 152px;
  height: 33px;

  margin-top: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;

  color: #000000;


}

.steps section {

  width: 1147px;
  height: 430px;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 100px;
}

.steps .steps_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.steps .steps_cards .card {

  width: 548px;
  height: 90.18px;

  display: flex;
  flex-direction: row;

}

.steps .steps_cards .card .title {

  width: 223.36px;
  height: 27.75px;

  margin-top: 10px;
  margin-left: 30px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;

  color: #5E6282;


}

.steps .steps_cards .card .text {

  width: 453.66px;
  height: 55.49px;

  position: absolute;

  margin-top: 40px;
  margin-left: 95px;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;

  color: #5E6282;


}

.steps .container {

  width: 485px;
  height: 459px;
  margin-left: 230px;
  margin-top: 2%;

}

.steps .container .card {
  width: 370px;
  height: 400px;
  box-shadow: 0px 0px 20px rgba(89, 177, 230, 0.5);
  /* Adjust the values as needed */
  border-radius: 26px;
  display: flex;
  flex-direction: column;
}



.steps .container .card .poster {
  width: 321px;
  height: 161px;
  border-radius: 24px;
  margin-top: 20px;
  margin-left: 25px;
}

.steps .container .card .title {

  width: 134px;
  height: 22px;

  margin-left: 25px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  letter-spacing: 0.015em;

  /* black */
  color: #080809;


}

.steps .container .card .text {

  width: 300px;
  height: 20px;

  margin-left: 25px;

  margin-top: -5px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  letter-spacing: -0.005em;

  /* text 2 */
  color: #84829A;


}

.steps .container .card .options {
  width: 139px;
  height: 36px;
  margin-left: 25px;
  margin-top: 0px;
}

.steps .container .card .building {
  width: 60px;
  height: 30px;
  margin-top: 30px;
  margin-left: 10px;
}

.steps .container .card .text1 {

  position: absolute;
  width: 126px;
  height: 20px;

  margin-top: 345px;
  margin-left: 66px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */
  letter-spacing: -0.02em;

  /* text 2 */
  color: #84829A;


}

.steps .container .card .heart {
  /* heart (6) 1 */

  position: absolute;
  width: 20px;
  height: 18.58px;
  margin-top: 345px;
  margin-left: 325px;

  cursor: pointer;



}

.steps .container .small-card {
  box-shadow: 0px 0px 20px rgba(89, 177, 230, 0.5);
  /* Adjust the values as needed */
  border-radius: 26px;

  position: absolute;
  width: 263px;
  height: 129px;
  margin-top: -190px;
  margin-left: 200px;
  background-color: white;
  opacity: 1;

}


.steps .container .small-card .poster {
  /* Mask Group */

  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-left: 20px;



}

.steps .container .small-card .text {
  /* Ongoing */

  position: absolute;
  width: 58px;
  height: 17px;
  margin-top: 16px;
  margin-left: 82px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */
  letter-spacing: -0.035em;

  /* text 2 */
  color: #84829A;


}

.steps .container .small-card .text1 {
  /* Trip to rome */

  position: absolute;
  width: 107px;
  height: 22px;
  margin-top: 39px;
  margin-left: 81px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  letter-spacing: -0.015em;

  /* black */
  color: #080809;


}

.steps .container .small-card .text2 {

  position: absolute;
  width: 101px;
  height: 17px;
  margin-top: 75px;
  margin-left: 80px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */
  letter-spacing: -0.055em;

  /* 1 */
  color: #8A79DF;

}

.steps .container .small-card .slider {

  position: absolute;
  width: 156px;
  height: 5px;
  margin-top: 102px;
  margin-left: 82px;
}

.testimonials {
  width: 100%;
  height: 935px;
  background: #ECF1F0;
  padding-top: 5px;
}


.testimonials .heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  color: #000000;
  margin-top: 5%;
  margin-bottom: 59px;
}

.testimonials .container{
  width: 1228px;
  height: 536px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Assets/image 22.jpg');
  margin-left: 18%;
  border-radius: 20px;
}


.testimonials .card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 738px;
  height: 200px;
  box-shadow: 0px 4px 59px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

background: rgba(243, 243, 243, 0.6);
backdrop-filter: blur(17.7606px);



}




.testimonials .card .text {

  width: 541px;
  height: 94px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-left: 15%;

  color: #000000;

}

.testimonials .card .name {

  width: 193px;
  height: 33px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-left: 37%;
  color: #000000;
}

.testimonials .sideimage {
  margin-top: 40px;
  margin-left: 0px;
  position: absolute;
  border-radius: 20px;

}

.testimonials .sideimage2 {
  margin-top: 40px;
  position: absolute;
  border-radius: 20px;

}

.testimonials .bird {
  /* Vector */
  
  position: absolute;
  margin-left: 85.49%;
  margin-right: 10.21%;
  margin-top: 8.05%;
  margin-bottom: 21.74%;


}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription .container {

  width: 1170px;
  height: 407px;

  margin-top: 150px;
  margin-bottom: 170px;

  background: #9FFFEC;

  border-radius: 20px 129px 20px 20px;

}

.subscription .container .heading {

  width: 819px;
  height: 108px;
  margin-top: 79px;
  margin-left: 176px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  /* or 164% */
  text-align: center;

  /* TEXT CLR */
  color: #5E6282;


}


.subscription .container img {

  position: absolute;
  width: 153px;
  height: 166px;
  margin-top: 320px;
  margin-left: 1100px;
  margin-right: 186px;

}

.subscription .container input {

  width: 421px;
  height: 68px;
  text-decoration: none;

  border: none;
  margin-left: 252px;

  /* white */
  background: #FFFFFF;
  border-radius: 10px;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* TEXT COLOR */
  color: #39425D;

  padding-left: 20px;

}

.subscription .container input:focus {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* TEXT COLOR */
  color: #39425D;

}

.subscription .container button {

  position: absolute;
  width: 180px;
  height: 68px;



  background: #00A651;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 20px;

}

.subscription .container button:hover,
.subscription .container button:active {
  background-color: white;
}

.subscription .container button:hover p,
.subscription .container button:active p {
  color: #00A651;
}


.subscription .container button p {

  width: 80px;
  height: 23px;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;

  /* white */
  color: #FFFFFF;
  margin-top: 22;
  margin-left: 45px;


}
