@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.main {
  font-family: "Space Grotesk", sans-serif;
}
.welcome {
  font-size: 72px;
  color: #009ee2;
  font-weight: bolder;
}

.txt {
  font-size: 16px;
  color: #00000083;
  font-weight: normal;
}
.forgot {
  font-size: 14px;
  color: #00000083;
  font-weight: normal;
  position: relative;
  left: 125px;
  top: 25px;
  cursor: pointer;

  &:hover {
    color: #009ee2;
  }
}
.sec1 {
  text-align: center;
  margin-top: 65px;
}

.plane {
  position: relative;
  top: 70px;
  left: 240px;
}

.textField {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.sec2 {
  display: flex;
  color: #848383;
  gap: 5px;
  margin-top: 30px;
}

.txt2 {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
}

.account {
  margin-top: 30px;
  font-size: 14px;
  color: #000000;
  font-weight: normal;

  & .register {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: #009ee2;
    }
  }
}
.mahal {
  position: relative;
  right: 145px;
  bottom: 45px;
}
.tower {
  position: relative;
  left: 160px;
  bottom: 50px;
}

.google {
  margin-top: 20px;
}
